<h1>Doctors Page</h1>
<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Status</th>
        <th style="column-span: 2;">Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctors">
            <td>{{doctor.id}}</td>
            <td>{{doctor.name}}</td>
            <td>{{doctor.rating}}</td>
            <td>{{doctor.active}}</td>
            <td><button (click)="toggleStatus(doctor.id)">Change State</button></td>
            <td><button (click)="remove(doctor.id)">Remove</button></td>
        </tr>
        
    </tbody>
</table>
