<h1>Doctors Page</h1>
<table>
    <thead>
        <th appSort>ID</th>
        <th appSort>Name</th>
        <th appSort>Rating</th>
        <th>Status</th>
        <th style="column-span: 2;">Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctors" (click)="onSelect(doctor)">
            <td>{{doctor._id}}</td>
            <td>{{doctor.name}}</td>
            <td>{{doctor.rating}}</td>
            <td>{{doctor.active}}</td>
            <td><button (click)="toggleStatus($event,doctor._id)">Change State</button></td>
            <td><button (click)="remove($event,doctor._id)">Remove</button></td>
        </tr>
        
    </tbody>
</table>
<app-doctor-details [selectedDoctor]="selectedDoctor"></app-doctor-details>
