<div>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</div>
<div class='app'>
  <div *ngIf="calendarVisible">
  <div class='app-calendar'>
    <full-calendar
      #calendar
      defaultView="timeGridWeek"
	  timeZone="UTC"
      [header]="{
        left: 'prev,next,today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      }"
	  [slotDuration]= "'00:30:00'"
	  [defaultTimedEventDuration]="'00:30:00'"
	  [eventTimeFormat]="{
		hour: '2-digit',
		minute: '2-digit',
		hour12: false
	   }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
    ></full-calendar>
  </div>
  
  </div>
 </div>
