<h1 mat-dialog-title>Appointment for {{data.start | date:'medium'}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Duration of appointment</mat-label>
    <mat-select>
      <mat-option *ngFor="let key of data.keys" [value]="data.durations[key]">
        {{key}} minutes : to {{data.durations[key] | date:'shortTime'}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Exit</button>
  <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Create Appointment</button>
</div>